workflow.json
{
  "Comment": "Workflow de processamento de pedidos usando AWS Step Functions",
  "StartAt": "ValidarPedido",
  "States": {
    "ValidarPedido": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:ValidarPedidoFunction",
      "Next": "VerificarEstoque"
    },
    "VerificarEstoque": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.estoqueDisponivel",
          "BooleanEquals": true,
          "Next": "ProcessarPagamento"
        }
      ],
      "Default": "NotificarFaltaEstoque"
    },
    "ProcessarPagamento": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:ProcessarPagamentoFunction",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NotificarFalhaPagamento"
        }
      ],
      "Next": "SalvarNoBanco"
    },
    "SalvarNoBanco": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "PedidosTable",
        "Item": {
          "PedidoId": {
            "S.$": "$.pedidoId"
          },
          "Status": {
            "S": "APROVADO"
          }
        }
      },
      "Next": "NotificarSucesso"
    },
    "NotificarSucesso": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:PedidoSucessoTopic",
        "Message": "Seu pedido foi processado com sucesso!"
      },
      "End": true
    },
    "NotificarFaltaEstoque": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:PedidoFalhaTopic",
        "Message": "Item fora de estoque. Pedido cancelado."
      },
      "Fail": "EstoqueInsuficiente"
    },
    "NotificarFalhaPagamento": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:PedidoFalhaTopic",
        "Message": "Falha no pagamento. Tente novamente."
      },
      "Fail": "PagamentoRecusado"
    }
  }
}
